* {
    margin: 14px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}


body {
    background-color: antiquewhite;
    font-family: Verdana, Helvetica, sans-serif;
}

h1 {
    font-size: 70px;
    color: maroon;
    text-align: center;
}

.container-img {
    text-align: center;
}

li {
    font-size: 22px;
    margin-left: 650px;
    color: darkslategrey;
}

a {
    color: darkslategrey;
}





